/*------------------------------ HEADER ------------------------------*/
h1 {
    text-align: left;
    font-size: 12pt;
    color: #000099;
    margin-bottom: 5px;
    text-decoration: underline;
}
/*------------------------------- POSTS ------------------------------*/
post{
    text-align: left;
    font-size: 12pt;
    color: #FF8C00;
    margin-bottom: 5px;
    text-decoration: underline;
}